<?xml version="1.0" ?>

<launch>
      <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago, go2]"/>
      <!-- <arg name="robot_type" default="a1"/> -->
      <arg name="cheater"             default="false"/>
      <arg name="rviz"                default="true"/>
      <arg name="urdfFile"            default="/tmp/legged_control/$(arg robot_type).urdf"/>
      <arg name="description_name"    default="legged_robot_description"/>
      <arg name="env"                 default="simulation"/>

      <!-- make the files into global parameters -->
      <param name="urdfFile" value="$(arg urdfFile)"/>
      <param name="taskFile" value="$(find legged_controllers)/config/$(arg robot_type)/$(arg env)/task.info"/>
      <param name="referenceFile" value="$(find legged_controllers)/config/$(arg robot_type)/$(arg env)/reference.info"/>
      <param name="gaitCommandFile" value="$(find legged_controllers)/config/$(arg robot_type)/$(arg env)/gait.info"/>

      <rosparam file="$(find legged_controllers)/config/controllers.yaml" command="load"/>

      <group if="$(arg rviz)">
      <arg name="rvizconfig" default="$(find legged_controllers)/rviz/legged_robot.rviz" />
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
      </group>

      <node if="$(arg cheater)" name="controller_loader" pkg="controller_manager" type="controller_manager"
            output="screen" args="load
            controllers/joint_state_controller
            controllers/legged_controller
            controllers/legged_cheater_controller
      "/>

      <node unless="$(arg cheater)" name="controller_loader" pkg="controller_manager" type="controller_manager"
            output="screen" args="load
            controllers/joint_state_controller
            controllers/legged_controller
      "/>


      <node pkg="legged_controllers" type="call_controller.sh" name="call_controller"
            output="screen"/>

      
            /root/catkin_ws/src/legged_control/legged_controllers/config/a1/real /reference.info

<!-- 
rosservice call /controller_manager/switch_controller "start_controllers: ['controllers/legged_controller']                   
stop_controllers: ['']
strictness: 0
start_asap: false
timeout: 0.0"  
-->
</launch>
